@charset "UTF-8";
@font-face{
    font-family: 'Carson';
    src: url('Carson\ D.otf') format('truetype');
}
@font-face{
    font-family: 'android';
    src: url('idroid.otf') format('truetype');
}
body{
    background-color: #84e1ad;
    margin: 0px;
    padding: 0px;
}
h1#cabecalho{
    text-align: center;
    font-family: carson;
    color: white;
    margin: 0px 0px 20px 0px;
    padding-top: 2%;
}
h1.main{
    font-size: 20pt;
    font-family: android;
    color: #1A5C38;
}
h2.main{
    font-size: 20pt;
    font-family: android;
    color: #1A5C38;
    background: linear-gradient(to right, #76a68b7e, white)
}
p#cabecalho{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    color: white;
    width: 50%;
}
p{
    text-indent: 30px;
}
p.extra{
    text-align: left;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    background-color: #41835f;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
p#left{
    text-align: left;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    font-size: 18px;
    padding: 10px;
}
header{
    background: linear-gradient(to bottom, #3ACE7C, #1A5C38);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
ul.menu{
    list-style: none;
    margin: 15px;
    display: flex;
    gap: 16px;
    color: white;
    font-family: sans-serif; 
    padding: 2px;
}
ul#info{
    list-style-type: '\2714\00A0';
    color: black;
    columns: 2;
    text-align: left;
}
li.menu{
    padding: 5px;
}
li.menu:hover{
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
main{
    background-color: white;
    margin: -15px auto 20px auto;
    padding: 20px;
    width: 700px;
    border-radius: 0px 0px 8px 8px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    box-shadow: 0px 20px 40px 
}
img {
    max-width: 100%; 
    height: auto;    
    display: block;  
    margin: 0 auto;  
}
strong.verde{
    color: #1A5C38;
}
div{
    margin: 5px -20px 5px -20px;
    text-align: center;
    background-color: #1A5C38;
}
div#extra{
    margin: 5px -20px 15px -20px;
    background-color: #76a68b;
    color: white;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    
}
iframe{
    width: 80%;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    display: block;
    border: none;
}
footer{
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #1A5C38;
    padding: 10px;
}